#hamburger {
    display: none;
}
.hidden {
    display: none;
}
.visible {
    display: block;
  }

.menuicon {
    position: absolute;
    top: 20px;
    left: 70px;
    display: block;
    cursor: pointer;
    height: 21px;
    width: 25px;
}

.menuicon>span {
    display: block;
    top: 20px;
    width: 15px;
    height: 2px;
    background-color: #4a4a4a;
    position: relative;
}

.menuicon>span::after,
.menuicon>span::before {
    display: block;
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #4a4a4a;
}

.menuicon>span::before {
    margin-top: -5px;
}

.menuicon>span::after {
    margin-top: 5px;
}

.menuS {
    width: 250px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(226, 25, 25);
    height: 100%;
    overflow: hidden;
    transition: .9s ease-in-out .2s;
}
.menuH {
    position: absolute;
    left: -300px;
    height: 100%;
    width: 250px;
    overflow: hidden;
    transition: .9s ease-in-out .2s;
}

.menulist {
    padding-left: 10px;
}

.menuitem {
    font-size: 24pt;
    padding: 10px 0;
}

.menuitem>a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.menuitem>a:hover {
    color: grey;
}